@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Sunflower:wght@300&display=swap");

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body {
  /* background: linear-gradient(-45deg, #fa997b, #f78db5, #3fa3c7, #80f1d7); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  background: linear-gradient(90deg, #f78db5, #f78db5, #3fa3c7, #3fa3c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
}

nav {
  max-width: 60%;
  margin: 2% auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.nav-category {
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #f78db5;
  border: none;
  width: 120px;
  height: 50px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

#container {
  padding: 30px;
  width: 700px;
  background: #fff;
  /* border: 10px solid hsla(180, 100%, 100%, 0.8); */
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgba(78, 17, 75, 0.45);
  margin: 0 auto;
  min-height: 90vh;
}

.sub {
  display: flex;
  justify-content: space-between;
}
.sub_text {
  color: #f78db5;
  font-family: "Sunflower", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.sub_count {
  font-family: "Sunflower", sans-serif;
  font-size: 25px;
  padding: 10px;
  color: #999;
}

.form {
  display: flex;
  margin: 20px auto;
  width: 75%;
  align-items: center;
}

.form_input {
  flex-basis: 90%;
  width: 70%;
  height: 40px;
  border-radius: 23px;
  padding-left: 20px;
  border: 2px solid #f78db5;
}

.form_input:focus {
  outline: 2px solid #f78db5;
}

.form_btn {
  flex-basis: 10%;
  font-family: "Sunflower", sans-serif;
  cursor: pointer;
  width: 10%;
  height: 45px;
  margin-left: 20px;
  border: none;
  font-size: 28px;
  color: #fff;
  border-radius: 100%;
  background-color: #f78db5;
}
#todoList {
  padding: 0;
}
#li {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.todo {
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #777;
  padding: 0;
}

.li_button {
  display: flex;
}
.update,
.delete,
.complete {
  line-height: 28px;
  color: #777;
  font-size: 13px;
  cursor: pointer;
  padding: 2px;
  margin-right: 5px;
  background-color: white;
}

.update,
.delete {
  margin-right: 13px;
}

.todo-complete {
  text-decoration: line-through;
  opacity: 0.45;
}

@media only screen and (max-width: 860px) {
  .title {
    font-size: 1.5rem;
  }
  #container {
    width: 75%;
  }
  nav {
    max-width: 80%;
  }
  .nav-category {
    font-size: 1.1rem;
    margin: 0 0.05em;
  }
  .form_input {
    flex-basis: 75%;
    width: 10%;
  }

  .form_btn {
    width: 90px;
    font-size: 28px;
    flex-basis: 25%;
  }

  .sub_text {
    font-size: 1.3rem;
  }

  .sub_count {
    font-size: 1rem;
    margin-top: 2px;
  }
}
